<div class="center jumbotron">
  <h1>Welcome to the League Management System</h1>

  <h2>
    This is the home page for the League Management System
    
    <br/>

  <%= link_to "Register now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("LeagueManagementSymbol.jpg", alt: "LeagueManagementSymbol logo"),
            'http://www.google.com' %>

