<footer class="footer">
  <small>
    The League Management System</a>
    by Sunny Mangat, Dylan Sawchuk, Constantine Grigoriadis</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>